{%  extends 'base.html' %}

{% block header %}
<h1 class="d-block p-2 text-bg-dark">ブログ</h1>
<p class="lead">記事一覧</p>
{% endblock header %}

{%block content%}
    <div calss="container">
    <a href="{% url 'create' %}" class="btn btn-primary">新規作成</a>
    {% for item in object_list %}
        <div class="card" style="width: 70%;">
            <h5 class="card-header">{{item.category}}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ item.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.postdate}}</h6>
                <a href="{% url 'detail' item.pk %}" class="btn btn-primary">詳細へ</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}